/__pycache__
scopus/__pycache__/FDataBase.cpython-311.pyc
scopus/__pycache__/SC_Dbase.cpython-311.pyc
scopus/__pycache__/sc_excel.cpython-311.pyc
scopus/__pycache__/sc_forms.cpython-311.pyc
scopus/__pycache__/scopus.cpython-311.pyc
wos/__pycache__/FDataBase.cpython-311.pyc
wos/__pycache__/WOS_Dbase.cpython-311.pyc
wos/__pycache__/wos.cpython-311.pyc
scopus/__pycache__/SC_Dbase.cpython-311.pyc
scopus/__pycache__/scopus.cpython-311.pyc
~$table_stamp.xlsx
.gitignore
.gitignore
