<h6>Для обновление таблиц статей wos базы данных:</h6>
<ol>
    <li>Подготовить каталог на компьютере для скачивания файлов из "wos.com"</li>
    <li>В системе "wos.com" выполнить поиск статей по профилю университета</li>
    <li>Выбрать поля для экспорта в "BibTex" формате  во вкладке "My custom export selections (Web of Science Core Collection)" :
        <ul>
            <li>Author(s)</li>
            <li>Title</li>
            <li>Source</li>
            <li>Times Cited Count</li>
            <li>Accession Number</li>
            <li>Authors Identifiers</li>
            <li>ISSN</li>
            <li>Document Type</li>
            <li>Publisher Information</li>
            <li>Page Count</li>
            <li>Source Abbrev.</li>
            <li>IDS Number</li>
        </ul>
    </li>
    <li>Выполнить экспорт статей в формате "BibTex". 
        Если статей больше чем 1000, то выполнить экспорт несколькими файлами с ипользованием "Records from: 1 to 1000"         
    </li>
    <li>Когда файлы "*.bib" будут готовы, нажмите "Готово" и в диалоговом окне выберите все эти файлы</li>
    <li>Процесс обновления будет запущен</li>
</ol> 
<!-- Для аполнение или обновление таблицы статей scopus базы данных из всех файлов bib -->