{% extends 'index.j2' %}
{% macro input(field,text,class1,class2,field1="",field2="",f1_inp="1",f2_inp="1") -%}
        <div class="row m-2 justify-content-start align-items-center g-2">
          <div class="col-md-1">{{ field.label(class='form-label') }}</div>
          <div class="{{ class1 }} ps-4"> 
            <div class="input-group">
              <span class="input-group-text">{{ text }}</span>
                {% if field.errors or field1.errors|default(none) or field2.errors|default(none)  %} 
                  <div class="{{ class2 }}">{{ field(class='border-danger form-control' ) }}</div>
                  <span class="btn btn-sm btn-info border border-primary ms-1 my-1" onClick="add_input_ps({{ field1.id }},{{ field2.id }})">Добавить</span>  
                  <span class="btn btn-sm btn-secondary border border-dark mx-1 my-1" onClick="del_input_ps({{ field1.id }},{{ field2.id }})" >Отмена</span>  

                  {% if not field1.data %}<div class="{{ class2 }}">{{ field1(class='border-danger form-control ',style="display:block;" ) }}</div>
                  {% else %}<div class="col-md-2">{{ field1(class='border-danger form-control ',style="display:none;" ) }}</div>  {% endif %}                   
                  {% if not field2.data %}<div class="{{ class2 }}"> {{ field2(class='border-danger form-control ',style="display:block;" ) }}</div>
                  {% else %}<div class="{{ class2 }}">{{ field2(class='border-danger form-control ',style="display:none;" ) }}</div>  {% endif %} 
            </div>         
                  <p class="ps-1" style="font-style: italic;font-size:small;color:brown"> {{ field.errors[0]|default('')}} {{field1.errors[0]|default('')}} {{field2.errors[0]|default('')}}</p>
                {% else %}    
                   <div class="{{ class2 }}">{{ field(class='form-control ') }}</div>
                    {% if not field1.data  %}
                      <div  id="{{ f1_inp }}"  style="display: none;" class="{{ class2 }}">{{ field1(class='form-control') }}</div>
                    {% else %}  
                      <div id="{{ f1_inp }}"  style="display: block;"  class="{{ class2 }}">{{ field1(class='form-control') }}</div>
                    {% endif %} 
                  {% if not field2.data %} 
                    <div id="{{ f2_inp }}"  style="display: none;"  class="{{ class2 }}">{{ field2(class='form-control') }}</div>
                  {% else %}
                    <div id="{{ f2_inp }}"  style="display: block;"  class="{{ class2 }}">{{ field2(class='form-control') }}</div>
                  {% endif %} 
                  <span class="btn btn-sm btn-info border border-primary ms-1 my-1" onClick="add_input_ps({{ f1_inp }},{{ f2_inp }})">Добавить</span>  
                  <span id="button_del"  class="btn btn-sm btn-secondary border border-dark mx-1 my-1" onClick="del_input_ps({{ f1_inp }},{{ f2_inp }})" >Удалить</span>  
            </div> 
                {% endif %} 
        </div>





          {# </div>   #}
        </div>
{% endmacro %}
{# <div class="content"> #}

{% block headers  %}
    <a href="https://nure.ua/?s={{ content.author[0][1] }}" target="_blank" class="d-flex align-items-center px-2 mb-2 mb-md-0 me-md-auto text-decoration-none">
        <img class="bi me-2" width="60" height="60" src="{{ url_for('static',filename='img/44069009-0.jpeg') }}" />
        <span class="fs-2 ku_header"><strong>{{ content.author[0][1] }}</strong></span> 
    </a> 
    <!-- {{ super() }} -->
    {% block menu_header %}
    {{ super() }}
    {% endblock menu_header %}
{% endblock headers %}

{% block main %}
    <main class="content">
    <form method="post" action="" class="row justify-content-center " id="main_form">
      {{ form.hidden_tag() }} 
      <div class="col-md-10 mt-4 p-1 border border-primary border-2">  
        <div class="container-fluid"> 
        {% for cat, msg in get_flashed_messages(True) %}
          <div class="flash {{cat}} h5">{{msg}}</div>
        {% endfor %}  
        <div class="row m-1 justify-content-start align-items-center g-2">
          <div class="col-md-1 ps-4">
              <label for="validationDefault01">ID</label> 
          </div>
          <div class="col-md-1">
              <input type="text" class="form-control" id="validationDefault01" value="{{ content.author[0][0] }}" disabled>
          </div>     
          <div class="col-1 px-4">
            {{ form.name_author.label(class='form-label')}}     
          </div>
          <div class="col-md-5">
              {{ form.name_author(class="form-control") }}
          </div>  
        </div>
        {{ input (form.scopus_id,'www.scopus/...','col-md-10','col-md-2',form.scopus_id_1,form.scopus_id_1,'sc_f1_inp','sc_f2_inp') }}
        {{ input (form.orcid_id,'www.orcid.org/','col-md-10','col-md-3',form.orcid_id_1, form.orcid_id_2, 'orc_f1_inp', 'orc_f2_inp') }} 
        {{ input (form.researcher_id,'R_ID','col-md-10','col-md-2',form.researcher_id_1, form.researcher_id_2, 're_f1_inp','re_f2_inp')}}
        <div class="row m-2 justify-content-start align-items-top g-2">
          <div class="col-md-3 p-2">
            {{ form.depat.label(class='form-label')}}
            {{ form.depat(class='form-select') }}
            {{ form.depat_two.label(class='form-label pt-3')}}          
            {% if form.depat_two.data == 10000 %}
              {{ form.depat_two(class='form-select',disabled=disabled) }}
            {% else %}
              {{ form.depat_two(class='form-select') }}
            {% endif %}
            <div class="form-check p-2">
            {% if form.depat_two.data == 10000 %}
              {{ form.part_time_worker }}
            {% else %}
              {{ form.part_time_worker(checked=True)}}
            {% endif %}
              {{ form.part_time_worker.label }}
            </div>
          </div>  
          
          <div class="col-md-8 p-3 m-4 border border-grey">
            {{ form.list_lat_name.label }}
            {{ form.list_lat_name() }}            
            <div class="row mt-1 justify-content-start align-items-center g-2">
              <div class="col-md-7">
                {{ form.one_lat_name() }}  
              </div>
              <div class="col-md-2">
                {{ form.submit_add(class="btn btn-info")}}
              </div>
            </div>
          </div>  
        </div>  
        <div class="row mt-1 justify-content-between align-items-center g-2"> 
          <div class="col-4 p-4" >
            {{ form.submit_save(class="btn btn-success") }}
          </div>
          <div class="col-4 p-4" >
            {{ form.submit_escape(class="btn btn-secondary") }}
          </div>
          <div class="col-4 p-4" >
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Удалить</button>
            {# <a name="help" id="" class="btn btn-danger" href="/delete/{{ content.author[0][0] }}" role="button">Удалить</a>   #}
          </div>
        </div>
      </div>
      </div> 
  </form>
  <!-- Модальное окно -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border border-danger ">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Вы подтверждаете удаление автора?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
            <p class="h4 text-center">{{ form.name_author.data}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            {{ form.submit_delete(class="btn btn-danger") }}
          </div>
        </div>
      </div>


</main>
  <script >
    document.getElementById('part_time_worker').onchange = function() {
    document.getElementById('depat_two').disabled = !this.checked;
  };

  let abc='';
  let cde='';

  function add_input_ps(ids_1,ids_2) {
    const input_1=document.getElementById(ids_1.id);
    const input_2=document.getElementById(ids_2.id);


  if (input_1.style.display === 'none'){
    input_1.style.display='block';
    input_1.value = abc;
  } 
  else{
      if(ids_2){
      if (input_2.style.display === 'none') {
        input_2.style.display = 'block';
        input_2.value= cde;
        }
      }
    }
  };

  function del_input_ps(ids_1,ids_2) {
    const input_2=document.getElementById(ids_2.id);
    const input_1=document.getElementById(ids_1.id);

    if (input_2.style.display === 'block')  {
      input_2.style.display='none';
      cde=input_2.value;
      input_2.value='';
    } 
    else{
        if (input_1.style.display ==='block') {
          input_1.style.display='none';
          abc=input_1.value;
          input_1.value='';
          }
    }
  };


//правильный возврат из формы по кнопке HNURE
  window.addEventListener('click', filter, false)
  function filter(e){
    if (e.target.id === 'menu_hnure'){ // провека что кликнули на ссылку
      e.preventDefault();          // отменяем переход 
      window.location.href = JSON.parse(localStorage['href_hnure']); // переходите по ссылке
    }
  };
</script>
  {% endblock main %}




