{% extends 'index.html' %}

{% block headers  %}
    {% block menu_header %}
    <a href="https://nure.ua/?s={{ content.author[0][1] }}" target="_blank" class="d-flex align-items-center px-2 mb-2 mb-md-0 me-md-auto text-decoration-none">
        <img class="bi me-2" width="60" height="60" src="{{ url_for('static',filename='img/44069009-0.jpeg') }}" />
        <span class="fs-2 ku_header"><strong>{{ content.author[0][1] }}</strong></span> 
    </a> 
    <!-- {{ super() }} -->
    
    {% endblock menu_header %}
{% endblock headers %}

{% block main %}
  <div class="container-fluid ">   
    <form class="row justify-content-center">
      <div class="col-8 mt-5 p-2 border border-primary border-2 ">  
        <div class="row row-cols-4 m-2 justify-content-start align-items-center g-2">
          <div class="col-md-1 ps-5">
              <label for="validationDefault01" class="form-label"><strong>ID</strong></label>
          </div>
          <div class="col-md-1">
              <input name="id" type="text" class="form-control" id="validationDefault01" value="{{ content.author[0][0] }}" disabled>
          </div>    
          <div class="col-1 px-4">
            <label for="validationDefault02" class="form-label"><strong>ФИО</strong></label>
          </div>
          <div class="col-md-7">
            <input name="fio" type="text" class="form-control" id="validationDefault02" value="{{ content.author[0][1] }}" required>
          </div>  
        </div>
        <!-- <div class="row row-cols-4 m-2 justify-content-start align-items-center g-2"> -->
        <div class="row m-2 justify-content-start align-items-center g-2">          
          <div class="col-md-2 ps-5"> <label for="validationDefault03" class="form-label"><strong>ID Scopus</strong></label></div>
          <div class="col-md-5">
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend3">https://www.scopus/...</span>
              <input type="text" class="form-control" id="validationDefault03" value="{{ content.author[0][3] }}">
            </div>  
          </div>
        </div>    
        <div class="row m-2 justify-content-start align-items-center g-2">
          <div class="col-md-2 ps-5"><label for="validationDefaultUsername" class="form-label"><strong>Orcid</strong></label></div>
          <div class="col-md-6"> 
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend2">https://www.orcid.org/</span>
                <input type="text" class="form-control" id="validationDefaultUsername" value="{{ content.author[0][4] }}" aria-describedby="inputGroupPrepend2" required>
            </div>
          </div>  
        </div>
        
        <div class="row m-2 justify-content-start align-items-center g-2">
          <div class="col-md-3">
            <label for="validationDefault04" class="form-label"><strong>Кафедра</strong></label>
            <select class="form-select" id="validationDefault04" required>
                <option selected value="">{{ content.author[0][2] }}</option>
                {% for key,dep in content.nure_dep-%}
                  <option value="{{ key }}">{{ dep }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="col-md-8 px-5">
            <label for="fio_lat" class="form-label"><strong>ФИО латиница</strong></label>
            <textarea class="form-control" id="fio_lat" rows="2"  disabled>{{ content.author[0][6] }}</textarea>
          </div>
        </div>
        
        

          <div class="col-md-3">
            <label for="validationDefault05" class="form-label">Индекс</label>
            <input type="text" class="form-control" id="validationDefault05" required>
          </div>
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
            <label class="form-check-label" for="invalidCheck2">
              Примите условия и соглашения
            </label>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Отправить форму</button>
        </div>
      </div> 
    </div>
    </form>
  </div>
  {% endblock main %}
    




