{% extends 'index.j2' %}
{% block headers  %}
    {% block menu_header %}
    <a href="https://nure.ua" target="_blank" class="d-flex align-items-center px-2 mb-2 mb-md-0 me-md-auto text-decoration-none">
        <img class="bi me-2" width="60" height="60" src="{{ url_for('static',filename='img/HNURE.jpg') }}" />
        <!--span class="fs-2 ku_header"><strong>Генератор отчетов</strong></span--> 
      </a>
    <div class="col-md-6 ">
        {{ content.pagination.info }}
        {{ content.pagination.links }}
    </div>
    {{ super() }}
    <div class="container">
      <div class="d-flex justify-content-end align-items-center g-2">
          <form method="get" id="select_dep"  action="/hnure" class="d-flex" role="select">
          <a class="text-decoration-none" href="/hnure/0"> <span class="btn btn-primary mx-4" >Добавить нового автора</span></a>
          <div class="col-md-6 ps-5">
          <div class="input-group">
            {# {{ form.hidden_tag() }} #}
            
            <select name="id_dep" class="form-select form-select-sm" aria-label=".form-select-sm">
              <option selected>{{ content.nure_current_dep }}</option>
                <option value="Все каферы">Все каферы</option>
              {% for key,dep in content.nure_dep-%}
                <option value="{{ key }}">{{ dep }}</option>
              {% endfor %}
            </select>
            <button class="btn btn-outline-light mx-2" type="submit">Выбор</button>
        </div>
        </div>           
          </form>
        <div class="col-md-4 px-2">
          <form method="get" id="seach_name" action="/hnure" class="d-flex justify-content-start" role="search">
            <input class="form-control me-2" name="fist_name" type="search" placeholder="Поиск по ФИО" aria-label="Поиск">
            <button class="btn btn-outline-light" type="submit">Поиск</button>
          </form>
          <!-- <div class="">Column</div> -->
        </div>
      </div>
    </div>
    {% endblock menu_header %}
{% endblock headers %}
{% block main %}  
<div class="table-responsive">
{% for cat, msg in get_flashed_messages(True) %}
  <div class="flash {{cat}} h5">{{msg}}</div>
{% endfor %} 
    <table class="table 
    table-sm 
    table-bordered
    border border-2
    border-success
    table-light
    align-middle">
    <colgroup>
        <col width="4.0%">
        <col width="23.2%">
        <col width="8.1%">
        <col width="7.8%">
        <col width="15.0%">
        <col width="10.1%">
        <col width="31.8%">
      </colgroup>     
    <thead class="table-info table-bordered border-primary">
      <tr style="height:auto; ">
        <th class="">ID<br>Автора</th>
        <th class="">ФИО</th>
        <th class="">Кафедра</th>
        <th class=""> ID Scopus</th>
        <th class="">ID ORCID</th>
        <th class="">Researcher_ID</th>
        <th class="">ФИО (латиница)</th>
      </tr>
    </thead>
      <tbody class="table-group-divider">
      <!-- {% if content.nure_list %}   -->
        {% for author in content.nure_list-%}
          <tr>
            <td class="ku-item-center">{{ author[0] }}</td>
            <td class=""><a id="go_author" class="text-decoration-none" href="hnure/{{ author[0] }}">{{ author[1] }} </a></td>
            <td class="ku-item-center">{{ author[2] }}</td>
            <td class=""><a  class="text-decoration-none" href="https://www.scopus.com/authid/detail.uri?authorId={{ author[3]}}" target="_blank">{{ author[3] }}</a></td>
            <td class=""><a class="text-decoration-none" href="https://www.orcid.org/{{ author[4]}}" target="_blank">{{ author[4] }}</a></td>
            <td class="">{% if author[5] %} {{ author[5] }} {% endif %} </td>
            <td class="">{% if author[6] %} {{ author[6] }} {% endif %}</td>
          </tr>
        {% endfor %}
      <!-- {% endif %}     -->
      </tbody>
    </table>
</div>
  <div class="container">
    <div class="row justify-content-between px-3 pt-0 mb-md-0">
      {{ content.pagination.links }} 
    </div>
  </div>
<script>

/*window.addEventListener("load", (event) => {
  if ('intry' in  localStorage){ 
      localStorage.removeItem('intry');
  };
  //alert(localStorage['intry']);
});*/




  window.addEventListener('click', filter, false)
  function filter(e){
    if (e.target.id === 'go_author'){ // провека что кликнули на ссылку
//      alert(e.target.id);  // получаем URL адрес ссылки
      e.preventDefault();          // отменяем переход 
      localStorage['href_hnure']=JSON.stringify(window.location.href)    
      /*  реализуете свою логику  */

      window.location.href = e.target.href; // переходите по ссылке
    }
  }




/*document.getElementById('go_author').click= function() {
  localStorage['href_hnure']=JSON.stringify(window.location.href);
  alert(localStorage['href_hnure']);
};*/




</script>
{% endblock main %}
{% block footer%}
<footer class="d-flex flex-wrap justify-content-between align-items-center p-1 my-0 border-top ku-footer">
  <div class="col-md-4 d-flex align-items-center">
    <span class="mb-3 mb-md-0 text-muted">&copy; 2023 KU Company, Inc</span>
  </div>
</footer> 
{% endblock footer%}
