<h6>Для обновление таблиц статей scopus базы данных:</h6>
<ol>
    <li>Подготовить каталог на компьютере для скачивания файлов из "scopus.com"</li>
    <li>В системе "scopus.com" выполнить поиск статей по профилю университета</li>
    <li>Выбрать поля для экспорта в "BibTex" формате  во вкладке "Экспортировать настройки документа" :
        <ul>
            <li>Автор(ы)</li>
            <li>Идентификатор автора(ов)</li>
            <li>Название документа</li>
            <li>Год</li>
            <li>EID</li>
            <li>Название источника</li>
            <li>том, выпуск, страницы</li>
            <li>Количество цитирований</li>
            <li>Источник и тип документа</li>
            <li>DOI</li>
            <li>Издатель</li>
        </ul>
    </li>
    <li>Выполнить экспорт статей в формате "BibTex". 
        Если статей больше чем 2000, то выполнить экспорт несколькими файлами с ипользованием фильтра (например: по годам) 
    </li>
    <li>После завершения экспорта статей в "BibTex" формате выполнить экспорт статей в csv формате по тому же алгоритму</li>
    <li>Выбрать поля для экспорта в "csv" формате во вкладке "Экспортировать настройки документа" ВАЖНО!!!</li>
        <ul>
            <li>Идентификатор автора(ов)</li>
            <li>EID</li>
        </ul>
    <li>Когда файлы "*.bib" и "*.csv" будут готовы, нажмите "Готово" и в диалоговом окне выберите все эти файлы</li>
    <li>Процесс обновления будет запущен</li>
</ol> 
<!-- Для аполнение или обновление таблицы статей scopus базы данных из всех файлов bib -->