{% extends 'scopus/base.html' %}
{% block content_body %}
    
  <header class="d-flex flex-wrap justify-content-end py-3 mb-0 border-bottom ku-border-bottom ">
  {% block headers %}
      <a href="https://www.scopus.com" target="_blank" class="d-flex align-items-center px-2 mb-3 mb-md-0 me-md-auto text-decoration-none">
        <img class="bi me-2" width="50" height="62" src="{{ url_for('.static',filename='img/Scopus.jpg') }}" />
        <span class="fs-2 ku_header" style="color: rgb(255, 145, 0);"><strong>Scopus</strong></span> 
      </a>
      {% block heder_context %}     
      {% endblock heder_context %}      
      {% block menu_header %}
      <ul class="nav nav-pills ku-menu-text justify-content-end">
        <li class="nav-item"><a href="\" class="nav-link" aria-current="page">Главная </a></li>
        <li class="nav-item"><a id='menu_hnure' href="/hnure" class="nav-link">ХНУРЕ</a></li>
        <li class="nav-item"><a id='menu_scopus' href="/scopus" class="nav-link">Scopus</a></li>
        <li class="nav-item"><a id="menu_wos" href="/wos" class="nav-link">WOS</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Вопросы</a></li>
      </ul>
      {% endblock menu_header %}
  {% endblock headers %}
  </header>    
  
  {% block main %}
  <div class="content"> 
    <div class="container-fluid">
      <div class="row  m-5 justify-content-center align-items-center g-2">
        <div class="col-md-8">
        {% for cat, msg in get_flashed_messages(True) %}
          <div class="flash {{cat}} h5">{{msg}}</div>
        {% endfor %}
          <div class="card border-primary mb-3">
            <div class="card-header border-primary">
              Данные по аффилиации на {{ content['data_up'] }} 
            </div>
            <div class="card-body">
              <h4 class="card-title">Kharkiv National University of Radio Electronics</h4>
              <div class="d-flex">
              <div class="col-md-5"> 
                <h6 class="card-text" style="font-style: italic;">Документов : {{ content['doc_sum'][0] }}</h6>
                <h6 class="card-text" style="font-style: italic;">Цитирования: {{ content['doc_sum'][1] }}</h6>
                <h6 class="card-text" style="font-style: italic;">H - индекс : {{ content['h_ind'] }}</h6>          
              </div>
              <div id="export_spiner"  class="col-md-4 pt-4" hidden> 
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Загрузка...</span>
              </div>
            </div>  
          </div>
          </div>
            <div class="card-footer text-muted text-center ">
              <div class="btn-group">              
              <div class="dropdown px-3">
                <a class="btn btn-primary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  Обновить базу
                </a>

                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" role="button" data-bs-toggle="modal" data-bs-target="#modalId">Обновить базу статей по университету</a></li>
                  <li><a class="dropdown-item" role="button" data-bs-toggle="modal" data-bs-target="#modalId_Delete">Очистить таблицы статей Scopus</a></li>
                  <li><a class="dropdown-item" href="./sc_update_DocCitH">Обновить кол-во док., цитирования, h-индекс по авторам</a></li>
                  <li><a class="dropdown-item" role="button"  onclick="getGreenTable()" >Экспорт "зеленой" таблицы</a></li>
                  <!-- href="./export_green_table"  "  -->
                </ul>
              </div>
                <div><a href= "./sc_report" class="btn btn-success mx-5">Отчеты</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
  {% endblock  main %}



  <!-- Modal  help-->
  <div class="modal fade modal-lg" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="modalTitleId">Обновление</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body">
          <div class="container-fluid">
            {% include 'scopus/help_load.html' %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalId_load">Готово</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ---------------------------------------------------- -->
  
  <!-- Modal  delete------------------------------------------>
  <div class="modal fade modal-lg" id="modalId_Delete" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="modalTitleId">Удаление списка статей (документов)</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body">
          <div class="container-fluid">
           <h4 style="color:crimson;">Вы уверены в своих действиях?</h4>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
          <a type="button" href="./deteteArticleScopus" class="btn btn-primary" >Да</a>
        </div>
      </div>
    </div>
  </div>
  <!-- ------------------------------------------------ -->

<!-- Модальное окно -->
<div class="modal fade" id="modalId_load" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalId_loadLabel">Загрузка файлов на сервер</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>    
    <form method="POST" action="./upload" enctype="multipart/form-data">
      <div class="modal-body">
        <div class="mb-3">
          <label for="sc_load_files" class="form-label">Выбирете все файлы  "scopus*.bib" и "scopus*.csv"</label>
          <input type="file" multiple class="form-control" name="sc_load_files[]" id="sc_load_files" placeholder="" aria-describedby="fileHelpId">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" value="Upload" data-bs-dismiss="modal" onclick="goSpinnerWait()" class="btn btn-primary">Приступить к обновлению БД</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- 
  <script>
    var modalId = document.getElementById('modalId');
  
    modalId.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        let button = event.relatedTarget;
        // Extract info from data-bs-* attributes
        let recipient = button.getAttribute('data-bs-whatever');
  
      // Use above variables to manipulate the DOM
    });
  </script>
   -->
  

  {% block footer%}
    <footer class="d-flex flex-wrap justify-content-between align-items-center p-1 my-0 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <span class="mb-3 mb-md-0 text-muted">&copy; 2023 KU Company, Inc</span>
        </div>
    </footer>        
  {% endblock footer %}

  
  <script>
  // function sendFiles(){
  //   let fileInput = document.getElementById('fileInput');
  //   let files = fileInput.files;
  //   let formData = new FormData();
  //   for (let i = 0; i < files.length; i++) {
  //     formData.append('files[]', files[i]);
  //   }
  //   var xhr = new XMLHttpRequest();
  //   xhr.open('POST', '/upload');
  //   xhr.send(formData);
  // }

  const exp_sp=document.getElementById('export_spiner')  
  function goSpinnerWait(){
    exp_sp.hidden=false;
  }

  function getGreenTable(){
    // вешаем ожидание от сервера
    exp_sp.hidden=false;
    fetch('./export_green_table')
      .then(response => {
        // получаем заголовки ответа
        // if (response.ok){
          const headers = response.headers;
          // извлекаем имя файла из заголовков ответа
          const filename = headers.get('content-disposition').split('filename=')[1];
          // считываем содержимое файла в виде Blob
        return response.blob()
      .then(blob => ({ blob, filename }));
      // } 
    })
    .then(({ blob, filename }) => {
      // создаем ссылку для скачивания файла
      const link = document.createElement('a');
      link.href = URL.createObjectURL(blob);
      link.download = filename;
      document.body.appendChild(link);
      // кликаем по ссылке, чтобы начать скачивание файла
      link.click();
      document.body.removeChild(link);
      exp_sp.hidden=true;
    })
  .catch(error => console.error(error));
  }
      
</script>  
{% endblock content_body %} 
